.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #f4f4f4;
    padding: 10px;
}
.item{
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}